body{
    padding: 0;
    margin: 0;
    background: #F2F2F2;
    font-family: 'Zilla Slab', serif;
    
    /*background: linear-gradient(to top, #730217, #61022c, #461137, #2a1735, #141628, #0b1018, #090b0d, #090b0d, #090b0d, #090b0d, #090b0d); */
    
}

html{
    scroll-behavior: smooth;
}

#load{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: black;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* Start
----------------------------------------------------------------- */

.frontSpace{
    height:700px;
    padding: 0;
    margin: 0;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

.homeButton{
    padding: 0;
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    position: fixed;
    right: 1vw;
}
.homeButton i{
    text-decoration: none;
    color: gray;
    transition-duration: 300ms;
}

.homeButton i:hover{
    color: #F2E205;
}

.div1{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    column-gap: 30px;
    color: #F2E205;
    padding: 0;
    margin: 0;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 8rem;
    justify-content: center;
    /* align-content: center; */
    font-family: 'Zilla Slab', serif;
    font-size: 8rem;
    /* padding: 0 10rem; */
}

.heading2, .heading1{
    padding: 0;
    margin: 0;
}

.line{
    margin-top: 1rem;
    border-top:0.1rem dashed gray;
    flex-basis: 100%;
    height: 0;
}
.heading1{
    background: transparent;
    position: relative;
    top: 20px;
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Zilla Slab', serif;
    font-size: 4rem;
    color: transparent;
}

.heading1:hover{
    transition: all 1000ms ease;
    color: #F2E205;
}

/* .hide{
    transition: all 500ms ease-in;
    color: transparent;
} */


/* sub-heading
----------------------------------------------------------------- */

.div2{
    padding: 0;
    margin: 0;
    padding: 0 5rem;
    display: flex;
    gap:  2rem 3.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 10rem;
    padding-top: 100px;

    
}
.div2 button{
    font-size: 3rem;
    background: none;
    border: none;
    padding: 0;
    transition: all 400ms ease;

}

.div2 button a{
    text-decoration: none;
    color: #F7FFF7;
    font-family: 'Josefin Sans', sans-serif;

}

.div2 button:hover{
    font-size: 4rem;
    font-weight: bold;
    
}

/*highlights
-----------------------------------------------------------*/

.highligthSpace{
    padding: 40px 100px;
    /* padding-top: 40px; */
    font-family: 'Zilla Slab', serif;
    font-size: 1.2rem;
    line-height: 2;
    color: white;
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.highTitle p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 9rem;
    font-weight: bold;
    line-height: 1;
    margin : 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: #F2E205;
    border-bottom: 1px solid gray;
    margin-bottom: 50px;
}

.highText p, .highList{
    padding:0 100px;
    margin: 0;
    line-height: 2;
}

.highList li{
    list-style-type: square;
}

.highList{
    padding-left: 200px;
    padding-bottom: 15px;
}

/* ------------Journey -----------------------*/

/*------------- Education----------------------- */


.educationSpace{
    padding: 80px 100px;
    /* padding-top: 40px; */
    font-family: 'Zilla Slab', serif;
    font-size: 1.2rem;
    line-height: 2;
    color: Black;
    background-image: url("../images/bg4.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.eduTitle p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 9rem;
    font-weight: bold;
    line-height: 1;
    margin : 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: #F2E205;
    margin-bottom: 100px;
    border-bottom: 1px solid gray;
}

.eduText{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    color: white;
    padding:0 100px;
    margin: 0;
    column-gap: 10px;
    
}

.eduText p{
    margin: 0;
}

#eduItems1, #eduItems2,  #eduItems3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5rem;
    font-weight: bold;
    line-height: 0.6;
    padding-top: 10px;
}

#eduItems111, #eduItems222,  #eduItems333{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    
}

/* Projects
----------------------------------------------------------------- */

.project{
    padding: 100px 100px 50px;
    /* padding-top: 40px; */
    font-family: 'Zilla Slab', serif;
    font-size: 1.2rem;
    line-height: 2;
    color: white;
    background-image: url("../images/bg5.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.proTitle p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 9rem;
    font-weight: bold;
    line-height: 1;
    margin : 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: #F2E205;
    border-bottom: 1px solid gray;
    margin-bottom: 50px;
}

.projectItems{
    display: grid;
    justify-items: center;
}

.project1-text p, .project2-text p, .project3-text p, .project4-text p, .other-projects-text1, .other-projects-text2{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    margin: 0;
    border-bottom: 1px solid gray;
    margin-bottom: 90px;
}

.other-projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.projects-text{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 5rem;
}

.project1-vid iframe, .project2-vid iframe, .project3-vid iframe, .project4-vid iframe, .other-projects-vid1 iframe, .other-projects-vid2 iframe {
    border: 2px dashed white;
}

/*codeing
--------------------------------------*/
.coding-tags{
    padding-bottom: -80px;
}
.codTitle p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    margin : 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: #F2E205;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.coding-tags ul{
    display: grid;
    justify-items: center;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.coding-tags ul li a{
    text-decoration: none;
    color: white;
    transition: all 300ms ease;
}

.coding-tags ul li a:hover{
    color: #F2E205;
}


/* reach out to me
---------------------------------------------------------- */
.reachSpace{
    padding: 100px 100px;
    /* padding-top: 40px; */
    font-family: 'Zilla Slab', serif;
    font-size: 1.2rem;
    line-height: 2;
    color: white;
    background-image: url("../images/bg7.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.reaSpaceTitle p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7rem;
    font-weight: bold;
    line-height:1;
    margin : 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: #F2E205;
    border-bottom: 1px solid gray;
    margin-bottom: 60px;
}

.reaTags{
    display: flex;
    justify-content: center;
    align-content: space-around;
    gap: 8rem;
    list-style: none;
}

/* .reaTags li{
    list-style: none;
} */

.reaTags li i{
    color: gray;
    text-decoration: none;
    font-size: 6rem;
    transition: all 300ms ease;
}

.reaTags li i:hover{
    color: #F2E205;

    /* font-size: 8rem; */
}

.highImage{
    margin: 100px auto;
    margin-bottom: -30px;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #F2E205;

}

.highImage img {
    display: inline;
    margin: -25px 0 0 -10px;
    height: 140%;
    width: auto;
}







/* More about me
----------------------------------------------------------------- */
.more{
    background-image: url("../images/bg6.jpg");
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    padding: 0 100px;
    margin: 0;
    font-family: 'Zilla Slab', serif;
}

.skill, .intrest, .hobbies{
    padding: 50px 0;
}

.skillTitle, .intrestTitle, .hobbiesTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 9rem;
    /* font-weight: bold; */
    /* line-height: 1.5; */
    margin : 0;
    padding: 0;
    margin-bottom: 50px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    color: #F2E205;
}

.skillList ul, .intrestList ul, .hobbiesList ul{
    font-family: 'Josefin Sans', sans-serif;
    list-style-type: none;
    gap: 20px;
    font-weight: bold;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.skillList ul li, .intrestList ul li, .hobbiesList ul li{
    padding: 10px;
    /* border: 1px solid black; */
    /* border-radius: 25px; */
    box-shadow: 0 0 15px black;
}

